

body {
    font-family: 'Lato', sans-serif; 
    font-size: 14px;  
}

.bg {
    width: 100%;    
    padding: 50px 0;
    background-color: #00163a;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {  
    width: 300px;     
}

.logo img {
    width: 100%;
}

.headline {
    width: 100%;
    margin-top: 100px;
    padding: 50px 0 20px 0;    
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.head-text {
    width: 80%;
    min-width: 320px;
    margin: 0 auto 20px auto;      
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;

}

.help {
    width: 200px;
    height: 40px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, .4);
    margin: 0 auto;
}

.help:hover {
    -webkit-animation-name: helpbtn;
    -webkit-animation-duration: .4s;
    animation-name: helpbtn;
    animation-duration: .4s;    
    background-color: rgba(0, 0, 0, .2);
}

@-webkit-keyframes helpbtn {
    from {background-color: rgba(0, 0, 0, .4);}
    to {background-color: rgba(0, 0, 0, .2);}
}

@keyframes helpbtn {
    from {background-color: rgba(0, 0, 0, .4);}
    to {background-color: rgba(0, 0, 0, .2);}
}

.help-left {
    width: 140px;
    height: 40px;
    float: left;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;    
}

.help-right {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.help-right img {
    width: 100%;
}

.section {
    width: 100%;
    padding: 20px 0;
    box-shadow: 10px 10px 50px #000;
    background-color: #001d42;
}

.section-item {
    width: 100%; 
    margin: 20px 0;
}

.item-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.item-icon img {
    width: 100%;
}

.item-head {
    width: 100%;    
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 5px 0;  
    text-align: center;  
}

.item-body {
    width: 100%;
    height: 100%;
    min-height: 60px;
    color: #fff;
    text-align: center;
}

.item-btn {
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 60px;
    padding-top: 8px;
    margin: 0 auto;     
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;   
}

.item-btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

.step {
    width: 100%;   
    padding: 50px 0;
    background-color: #fff;
}

.topic {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #000;
}

.bar {
    width: 50px;
    height: 6px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #d01820;
}

.line {
    width: 50px;
    height: 6px;    
    border-radius: 60px;
    background-color: #d01820;
}

.sup {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}


.step-icon {
    width: 200px;
    height: 200px;
    margin: 50px auto 0 auto;
    border-radius: 100px;
    text-align: center;
    padding-top: 50px;
    border: 10px solid #d01820;
    background-color: rgba(0, 88,230, .1);
    cursor: pointer;
}

.step-icon:hover {
    -webkit-animation-name: change;
    -webkit-animation-duration: .4s;
    animation-name: change;
    animation-duration: .4s;
    background-color: rgba(0, 88,230, .3);
}


@-webkit-keyframes change {
    from {background-color: rgba(0, 88,230, .1);}
    to {background-color: rgba(0, 88,230, .3);}
}

@keyframes change {
    from {background-color: rgba(0, 88,230, .1);}
    to {background-color: rgba(0, 88,230, .3);}
}

.step-text {
    width: 100%;    
    margin-top: 50px;
    font-weight: 600;
    font-size: 16px;     
}

.step-btn {
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 60px;
    font-size: 12px;
    background-color: #d01820;
    color: #fff;
    cursor: pointer;
}

.step-btn:hover {
    box-shadow: 0 0 2px #000;
}

.footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #001d42;
    color: #fff;
}

.open-div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, .7);
    overflow: auto;
    display: none;    
}

.open-content {
    width: 60%;
    min-width: 320px;    
    margin: 2% auto;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;      
}

.status-div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, .7);
    overflow: auto;
    display: none;    
}

.status-content {
    width: 60%;
    min-width: 320px;    
    margin: 5% auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;       
}

.banner {
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    background-color: #001d42;
}

.banner-left {
    width: 100%;
    padding: 3px 0;       
    font-size: 2em;
    font-weight: 600;    
    color: #fff;
}

.banner-right {
    width: 50px;
    height: 50px;
    float: right;
    text-align: center;    
    font-size: 2em;    
    color: #fff;
    cursor: pointer;
}

.status-body {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    background-color: #fff;
}

.input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 5px;
    font-size: 20px;    
}

.input-btn {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;    
    padding: 0 5px;
    font-size: 20px;
    color: #fff;
}

.sts-div {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sts-btn {
    width: 100%;
    height: 40px;
    background-color: #d01820;
    border: 1px solid #d01820;
    border-radius: 4px;
}

.sts-btn:hover {
    background-color: rgba(208, 24, 32, .6);
}

.long-line {
    height: 8px;
    width: 100%;
    background-color: #001d42;
    margin-top: 10px;
    border-radius: 60px;
}

.sts-text {
    width: 100%;
    height: 200px;
    outline: none;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.other-btn {
    width: 100%;
    height: 40px;
    background-color: #d01820;
    border: 1px solid #d01820;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.other-btn:hover {
    background-color: rgba(208, 24, 32, .6);
}

@-webkit-keyframes divopacity {
    from {opacity: 0;}
    to {opacity: 1;} 
}

@keyframes divopacity {
    from {opacity: 0;}
    to {opacity: 1;} 
}


@-webkit-keyframes changeopen {
    from {width: 20%;}
    to {width: 60%;}        
}

@keyframes changeopen {
    from {width: 20%;}
    to {width: 60%;}  
}

@-webkit-keyframes changeclose {
    from {width: 60%;}
    to {width: 0%;display: none;}      
}

@keyframes changeclose {
    from {width: 60%;}
    to {width: 0%;display: none;} 
}

 @-webkit-keyframes closeopacity {
    from {opacity: 1;}
    to {opacity: 0;} 
}

@keyframes closeopacity {
    from {opacity: 1;}
    to {opacity: 0;} 
} 

.msg {
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: #d01820;        
}

.faq-head {
    width: 100%;    
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    font-weight: 600;
}

.faq-body {
    width: 100%;    
    color: #fff;
    text-align: center;    
    font-size: 16px;    
}

.faq-btn {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
}

.base-btn {
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 60px;    
    margin: 20px auto 20px auto;     
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;  
    color: #fff;   
}

.base-btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

.faq-section {
    width: 100%; 
}

.faqhead {
    width: 100%;    
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 50px;     
}

.faqbody {
    width: 100%;
    font-size: 12px;
}

.faq-line {
    height: 8px;
    width: 100%;
    background-color: #001d42;
    margin-top: 10px;
    border-radius: 60px;
}


/* file upload */

.inputfile-box {
    position: relative; 
    width: 100%!important;   
}

.input-file {
    display: none!important;
}

.file-box {
    display: inline-block;
    width: 100%;   
    height: 40px;
    background-color: #ddd;
    border: 1px solid #ccc;    
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 4px;
}

.file-button {
      background: red;
      padding: 5px;
      position: absolute;
      border: 1px solid;
      top: 0px;
      right: 0px;
}

.detail-logo {
    width: 100px;
    margin: 0 auto;

}

.detail-logo img {
    width: 100%;
}

table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #001d42;    
    border-radius: 5px;
    overflow: hidden;
}

table, thead, tbody, th, td, tr, {
    display: inline;
}

tr {
    height: 10px;
    width: 100%;
}

th, td {
    padding: 10px 8px;
    height: 50px;
    min-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;   
}

th {
    background:rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, .2);
}

td {
    border: 1px solid rgba(255, 255, 255, .2);
}

.td-status {
    width: 100px;
    height: 40px;
    /* background-color: rgba(255, 255, 255, .2); */
    background-color: #d01820;
    border-radius: 60px;
    font-size: 14px;
    margin: 0 auto;
}

.ticket-status {
    background-color: #001d42;    
    border-radius: 5px;
    padding: 20px 0;
    overflow: hidden;
    color: #fff;
}


.status-head {
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.status-left {
    width: 100%;
    padding: 5px 0;
    font-weight: 600;
    text-align: right;
}

.status-right {
    width: 100%;
    padding: 5px 0;
    text-align: left;
}

.ticket-row {
    padding: 10px 0;
    clear: both;
    overflow: hidden;
}

.status-btn {
    width: 200px;
    height: 40px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, .2);
    margin: 20px auto;
    font-weight: 600;
    text-align: center;
    clear: both;
};


.status-btn a:link {color:#fff;text-decoration: none;}     
.status-btn a:visited {color:#fff;text-decoration: none;}
.status-btn a:hover {color:#fff;text-decoration: none;} 
.status-btn a:active {color:#fff;text-decoration: none;} 

.td-status a:link {color:#fff;text-decoration: none;}     
.td-status a:visited {color:#fff;text-decoration: none;}
.td-status a:hover {color:#fff;text-decoration: none;} 
.td-status a:active {color:#fff;text-decoration: none;} 

.right-btn {
    width:100%;
    padding: 10px;
    border-radius: 60px;
    text-align: center;
    margin: 5px 0;
    font-size: 12px;
    cursor: pointer;
}

.right-btn:hover {
    color: #ccc;
}

.input {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 5px;
}

.error-head {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 5em;
    font-weight: 600;

}

.error-img {
    width: 200px;
    margin: 0 auto;
}

.error-img img {
    width: 100%;
}

.error-btn {
    width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 60px;
    margin: 50px auto;
    text-align: center;
}

.error-text {
    width: 100%;  
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.page {
    width: 200px;
    height: 40px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 60px;
}

.page-next {
    width: 50%;
    height: 40px;
    float: left;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-top: 8px;
    font-weight: 600;
    border:1px solid rgba(216, 210, 210, .4);
    background-color: #d01820;
    cursor: pointer;
}

.page-next:hover {
    background-color: rgba(208, 24, 32, .4);

}




